In [3]:
import pandas as pd

In [6]:
# series data types
# series is 1 dimensional
cars = pd.Series(["Toyota","Mvm","Bmw"])
colors = pd.Series(["Blue","Red","Yellow"])

In [7]:
# Data Frame data types
# its 2 dimensional
# we can use series for data frames
company_cars = pd.DataFrame({"Car": cars, "Color": colors})
company_cars

      Car   Color
0  Toyota    Blue
1     Mvm     Red
2     Bmw  Yellow

In [8]:
# read from csv
cars_set = pd.read_csv('car.csv', encoding='unicode_escape')

In [12]:
# Export Data Frame
cars_set.to_csv("cars-exported.csv")